.container {
	position: relative;
	width: 100%;
	height:100%;
	margin-left: 5px;
}
textarea {
	float: left;
	width: 50%;
	height: 700px;
	font-family:Monaco !important;
	tab-size : 2;
}
.graph {
	width: 1px;
	height: 93%;
}

.wrapper {
	width: 1px;
	height: 93%;
}
.results {
	float: left;
	margin-left: 1%;
	width: 49%;
	height: 700px;
}
.upper {
	float: left;
	width: 500px;
	height: 350px;
	overflow: auto;
}
.down {
	float: left;
	width: 500px;
	height: 350px;
	overflow: auto;
}
.fulldiv {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: white;
	overflow-x: scroll;
}

.currentDescription {
  white-space: normal;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
